<aside class="sidebar" id="sidebar">
	<div class="sidebar__header">
		<a href="index.html">
			<p>Кулинаря</p>
		</a>
	</div>



		<nav class="nav nav--mobile">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="index.html">Рецепты</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="index.html">Продукты</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="text.html">как приготовить</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="text.html">кулинарная книга</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="profile.html">здоровье</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">авторы</a>
				</li>
			</ul>
		</nav>


	<div class="sidebar__footer">
		<a class="btn  btn--red" href="works.html">Мои работы</a>
		<button class="btn  btn--blue" type="button" data-modal="contact-modal">Написать мне</button>
	</div>
</aside>