<aside class="sidebar" id="sidebar">
	<div class="sidebar__header">
		<a href="index.html">
			<p>Кулинаря</p>
		</a>
	</div>



	<nav class="nav nav--mobile">
		<ul class="nav__list">
			<li class="nav__item">
				<a class="nav__link" href="#">Рецепты</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">Продукты</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">как приготовить</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">кулинарная книга</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">здоровье</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="#">авторы</a>
			</li>
		</ul>
	</nav>
</aside>